#reviews-page {
  .account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;

    .grid-cards-reviews {
      display: grid;
      gap: 1.875rem;
    }
  }
}
