#chat-users-online {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.5rem;
  gap: 5rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(226, 223, 223);
    border-radius: 0.5rem;
  }

  .avatar {
    position: relative;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 100rem;
    }

    .user-badge {
      width: 20px;
      height: 20px;
      border-radius: 10rem;
      background-color: limegreen;
      position: absolute;
      left: 40px;
      bottom: 35px;
      border: 2px solid white;
    }
  }
}
