:root {
  /* Colors */
  --primary: #140342;
  --primary-hover: #0f9989;

  --secondary: #00ff84;
  --ternary: #6440fb;
  --red: #bd1539;

  --black: #111827;
  --white: #ffffff;

  --bg-primary: #f0f0f8;

  --gray-primary: #6b7280;
  --gray-secondary: #455560;
  --gray-ternary: #f4f5f7;

  /* Alerts */
  --info: #0288d1;
  --success: #2e7d32;
  --warning: #ed6c02;
  --error: #d32f2f;
  --default: #ebebeb;

  /* Radius */
  --radius-025: 0.25em;

  /* Text */
  --text-light: 300;
  --text-regular: 400;
  --text-medium: 500;
  --text-blod: 600;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

* {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  color: var(--text-black);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Disabled select elements*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edg*/
}

.container {
  max-width: 1290px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

h1 {
  font-size: 2.5rem;
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h3 {
  color: var(--primary);
  font-weight: 700;
  font-size: 1.875rem;
}

h4 {
  color: var(--primary);
  font-weight: 700;
  font-size: 1.063rem;
}

h5 {
  font-size: 0.75rem;
  color: #4f547b;
  font-size: 0.938rem;
  font-weight: 500;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #6d7381;
  font-size: 0.938rem;
  line-height: 1.4rem;
}

button {
  color: var(--primary);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 50rem;
  background-color: yellow;
  cursor: pointer;
}

/*Inputs default styles*/
.input-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-size: 1rem;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 0.625rem;
}

select,
input[type='text'],
input[type='password'],
input[type='tel'],
input[type='number'],
input[type='email'] {
  height: 2.813rem;
}

textarea {
  padding: 1rem;
}

textarea,
select,
input {
  border: 1px solid #dddddd;
  border-radius: 0.5rem;
  padding-left: 1rem;
  background-color: transparent;
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Scroll bar*/

::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.input-image {
  input {
    border: none !important;
    padding-left: 0;
    border-radius: 0;
  }
}

/*================================================================
 React Tabs
================================================================*/
.react-tabs__tab-list {
  border-bottom: 1px solid #dddddd !important;
  background-color: #f5f3f3;
  border-radius: 0.5rem 0.5rem 0 0 !important;
  margin: 0 !important;
  padding: 0;
}

.react-tabs__tab--selected {
  background: none !important;
  border-color: none !important;
  color: var(--primary);
  font-weight: 700;
  border-radius: none !important;
}

.react-tabs__tab:focus {
  outline: none !important;
}

.react-tabs__tab {
  display: inline-block;
  border: none !important;
  border-bottom: none !important;
  bottom: none !important;
  position: relative;
  list-style: none;
  padding: 0.5rem 2rem !important;
  cursor: pointer;
}
