#product-card-account {
  background-color: white;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  max-width: 100%;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    transition: all 0.1s ease 0.1s;
    background-color: gainsboro;
    border: 1px solid gainsboro;
  }

  .content-card-account {
    display: flex;
    gap: 1.875rem;
    justify-content: space-between;
    align-items: center;

    .content-flex {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    .cover-image {
      object-fit: cover;
      position: relative;
      width: 80px;
      height: 80px;
      border-radius: 0.5rem;
    }

    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  }
}
