#logout-page {
  .account-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .buttons {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;
    }
  }
}
