#profile-page {
  .avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50rem;
    }
  }

  .email-info {
    margin-bottom: 1rem;
  }

  .account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }

  .grid-two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    column-gap: 2rem;
  }

  .grid-three-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    column-gap: 2rem;
  }
}

#tab-profile-password {
  max-width: 400px;
}
