#chat-page {
  .chat-container {
    display: flex;
    margin: 2rem 0;
    flex-direction: row;
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 4px rgba(20, 3, 66, 0.07);
    min-height: 50vh;

    /*chat-col-menu*/
    .chat-col-menu {
      flex: 2;
      padding-right: 1rem;
      border-right: 1px solid red;

      .chat-col-menu-box {
        height: 600px;
        overflow-y: scroll;
        padding-right: 2rem;
      }
    }

    /*chat-col-messages*/
    .chat-col-messages {
      flex: 6;
      padding: 0 2rem;
      border-right: 1px solid red;

      .chat-col-messages-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .chat-box-top {
          height: 400px;
          overflow-y: scroll;
          padding-right: 2rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          margin-bottom: 2rem;
        }

        .chat-box-bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          gap: 2rem;

          .input-item {
            width: 100%;
            height: 50px;
          }
        }
      }
    }

    /*chat-col-users-online*/
    .chat-col-users-online {
      display: flex;
      flex-direction: column;
      flex: 2;
      padding-left: 2rem;
      gap: 0.5rem;
    }
  }
}
