#footer {
  background-color: var(--primary);
  margin-top: 10rem;

  a {
    &:hover {
      color: var(--secondary);
    }
  }

  .wrapper {
    display: grid;
    width: 100%;
    color: white;
  }

  .grid {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: 'col-left col-right';
  }

  .footer-section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($color: white, $alpha: 0.25);
    padding: 3.5rem 0;

    .social-icons {
      display: flex;
      align-items: center;
      p {
        font-size: 1.063rem;
        color: white;
        font-weight: 400;
      }
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.5rem;
      }

      li {
        margin-left: 0.5rem;
      }
    }
  }

  .footer-section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3.75rem 0;
    border-bottom: 1px solid rgba($color: white, $alpha: 0.25);

    .col {
      .title {
        color: white;
        font-size: 1.063rem;
        text-transform: capitalize;
        margin-bottom: 2.5rem;
        font-weight: 500;
      }

      .categories-two-col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 8rem;
      }

      li {
        margin-bottom: 0.75rem;
        font-size: 0.938rem;
      }

      .newsletter-form {
        background-color: white;
        padding: 0.5rem;
        border-radius: 50rem;
        margin-top: 1rem;
        width: 100%;

        input[type='email'] {
          color: #4f547b;
          padding: 0.5rem;
          border-width: 0px;
          border: none;
          outline: none;
        }

        .newsletter-button {
          color: white;
          width: 100px;
          height: 45px;
          padding: 0.5rem 1rem;
          background-color: var(--primary);
          font-weight: 600;
          cursor: pointer;

          &:hover {
            color: var(--primary);
            background-color: var(--secondary);
          }
        }
      }
    }
  }

  .footer-section-3 {
    padding: 3.75rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .menu-secondary {
      display: flex;
      gap: 0.5rem;
    }
    .language {
      display: flex;
      gap: 0.5rem;

      button {
        background-color: transparent;
        color: white;
        padding: 0;
        margin: 0;
      }
    }
  }
}
