#user-public-profile {
  .content-user {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .tabs-section {
    .tab-panel {
      margin-top: 3rem;
    }
  }

  .tab-grid-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
