#advert-create {
  .account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }

  .grid-two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    column-gap: 2rem;

    img {
      width: 100px;
      margin-right: 1rem;
    }
  }

  .section {
    margin-top: 2rem;

    .title {
      font-size: 1rem;
      color: var(--primary);
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .categories {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      input {
        margin-right: 0.5rem;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd;
    padding: 2rem 0 0 0;
    margin: 4rem 0 0 0;
  }

  .radio-options {
    .options-title {
      margin-bottom: 0.5rem;
      color: var(--primary);
      font-weight: 600;
    }
    .radio-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      width: 100%;

      input[type='radio'] {
        display: none;
        // // -webkit-appearance: none;
        // border: none;
        // position: relative;
        // top: 60px;
        // left: 5px;
        // z-index: 2;
      }

      input[type='radio']:checked + label {
        background-color: var(--secondary);
        border: 1px solid var(--secondary);

        p {
          color: var(--primary);
          font-weight: 600;
        }
      }

      .label-radio {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        padding-left: 2rem;
        align-items: center;
        height: 90px;
        width: 100%;
        border: 1px solid #dddddd;
        position: relative;
        margin: auto;
        border-radius: 0.5rem;
        position: relative;
        color: var(--secondary);
        transition: 0.5s;
      }
    }
  }

  .rti--container {
    border: 1px solid #dddddd;
    height: 45px;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .go1186250972 {
      align-items: center;
      background: var(--rti-tag);
      border-radius: var(--rti-radius);
      display: inline-flex;
      justify-content: center;
      padding-left: var(--rti-s);
      gap: 0.5rem;
      background: #dddddd;
      padding: 0.3rem 0.5rem;
      border-radius: 0.5rem;
      color: var(--primary);

      button {
        color: var(--primary);
      }
    }
  }
}
