#data-info-card {
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 4px rgba(20, 3, 66, 0.07);
  max-height: 10.625rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .col-data-card-left {
    display: flex;
    flex-direction: column;

    gap: 01rem;
  }

  .data {
    color: var(--primary);
    font-size: 2rem;
    font-weight: 700;
  }
}
