#layout-account {
  .layout-account-body {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 5.625rem);
  }

  main {
    width: 100%;
    background-color: #dddddd;
    padding: 4rem;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  .body-container {
    border-radius: 0.5rem;
    margin-top: 2rem;
    background-color: white;
    min-height: 60vh;
  }
}
