#header-user-profile {
  background-color: #6440fb;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;

  padding: 2rem 3rem;
  color: white;

  img {
    width: 9.375rem;
    border-radius: 100rem;
  }

  .user-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    h3 {
      color: white;
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.9rem;
      color: white;
    }
    span {
      color: var(--secondary);
    }
  }

  .location-box {
    h4 {
      font-weight: 600;
      color: white;
      margin-bottom: 1rem;
    }
    p {
      color: white;
      font-size: 0.9rem;
    }
  }

  .map-box {
    border-radius: 0.5rem;
    min-width: 250px;
    min-height: 140px;
    color: var(--primary);
    background-color: white;
    text-align: center;
  }

  .buttons-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    gap: 1rem;
  }
}
