#breadcrumbs {
  background-color: #f5f7fe;
  ol {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    min-height: 3.125rem;

    li {
      a {
        font-size: 0.813rem;
        color: var(--primary);

        &:hover {
          color: var(--secondary);
        }
      }
      span {
        margin-left: 1rem;
      }
    }

    li > a:last-child {
      font-weight: 600;
    }
  }
}
