#not-results-found {
  margin: 2rem 0;
  gap: 1rem;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text {
    text-align: center;
    max-width: 400px;
  }
}
