#filters-section {
  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    min-width: 250px;
  }

  .radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    min-width: 250px;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
