#password-forgot-page {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f7f8fb;

  .modal {
    width: 32rem;
    background-color: white;
    padding: 3.438rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 4px rgba(20, 3, 66, 0.07);
  }

  .header {
    text-align: center;
    margin-bottom: 2rem;
    .title {
      color: var(--primary);
      font-size: 1.875rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    .link {
      color: var(--primary);
      font-size: 1rem;
      font-weight: 600;
      &:hover {
        color: var(--secondary);
      }
    }
  }

  .body {
    .options {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .remenberme {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 0.5rem;
      }
    }
  }

  .footer {
    padding-top: 0.5rem;
    border: 1px solid #f7f8fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .button-group {
      display: flex;
      gap: 1rem;
    }
  }
}
